@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'styles/Colors.scss';
@import 'styles/Constants.scss';


/* Override */
body {
  background-color: $col-backgroung-black;
  color: $col-normalText--light;
}

a {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-link {
  color: $col-normalText--light !important;
}

.loading {
  display: flex;
  align-items: center;
  .loader {
    border: 10px solid $col-stylish-color;
    border-top: 10px solid #33b5e5;
  }
}

/* Custom */

.link {
  color: $col-primary;
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  padding: $val-spacing-xs $val-spacing-s;
  margin: $val-spacing-xxs;
  background-color: $col-btn-primary !important;
  color: $col-normalText--dark;
  border-radius: $val-btnBorderRadius;
  text-decoration: none;
  font-size: $val-fontSizeRegular;
  font-weight: $val-fontWeightBold;
  cursor: pointer;
  a {
    color: $col-normalText--dark;
    font-size: $val-fontSizeRegular;
    font-weight: $val-fontWeightBold;
  }
}

.info-block {
  width: 100%;
  background-color: lighten($col-elegant-color-dark, 4%);
  color: $col-grey-lighten-4;
  padding: 10px;
  font-size: $val-fontSizeBig;
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  strong {
    color: $col-info;
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 40px;
    .material-icons {
      display: flex;
      justify-content: center;
      font-size: 40px;
    }
  }
}

/* Margins */

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}