@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import 'styles/Colors.scss';
@import 'styles/Constants.scss';


/* Override */
body {
  background-color: $col-backgroung-black;
  color: $col-normalText--light;
}

a {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-link {
  color: $col-normalText--light !important;
}

/* Custom */

.link {
  color: $col-primary;
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  padding: $val-spacing-xs $val-spacing-s;
  margin: $val-spacing-xxs;
  background-color: $col-btn-primary !important;
  color: $col-normalText--dark;
  border-radius: $val-btnBorderRadius;
  text-decoration: none;
  font-size: $val-fontSizeRegular;
  font-weight: $val-fontWeightBold;
  cursor: pointer;
  a {
    color: $col-normalText--dark;
    font-size: $val-fontSizeRegular;
    font-weight: $val-fontWeightBold;
  }
}
