$col-primary: #61dafb;
$col-error: #cc0000;
$col-fancy-black: #090909;

$col-normalText--light: #DCDCDC;
$col-normalText--dark: #303030;

$col-title--big: #F5F5F5;
$col-movie-title: #DCDCDC;
$col-movie-description: #808080;