@import 'styles/Colors.scss';
@import 'styles/Constants.scss';

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $val-spacing-xl;
  &__menu {
    display: flex;
    flex-direction: column;
  }
  &__cinemas-map{
    height: 500px;
    width: 500px;
  }
  &__weather-info{
    color: $col-btn-primary;
    padding: 10px;
    margin-bottom: 5px;
  }
  &__app-info{
    color: $col-btn-primary;
    padding: 10px;
    margin-bottom: 5px;
    font-size: $val-fontSizeBig;
    font-weight: $val-fontWeightBold;
  }
}
