@import 'styles/Colors.scss';
@import 'styles/Constants.scss';

.movie {
  &__list-item {
    display: flex;
    flex-direction: row;
    padding: $val-spacing-xxs;
    &__details {
      display: flex;
      flex-direction: column;
      padding: $val-spacing-xxs;
    }
    &__title {
      font-size: $val-fontSizeBig;
      color: $col-movie-title;
    }
    &__description {
      font-size: $val-fontSizeRegular;
      color: $col-movie-description;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 80vw;
    }
    &__image {
      &--size {
        &-m {
          max-height: 100px;
          max-width: 100px;
        }
      }
    }
  }
  &__detailed {
    &__details {
      display: flex;
      flex-direction: column;
      padding: $val-spacing-xxs;
    }
    &__title {
      font-size: $val-fontSizeBig;
      color: $col-movie-title;
      padding: $val-spacing-xs;
    }
    &__description {
      font-size: $val-fontSizeRegular;
      color: $col-movie-description;
      padding: $val-spacing-xs;
    }
    &__image {
      &--size {
        &-l {
          max-height: 500px;
          max-width: 500px;
        }
      }
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    padding: $val-spacing-xxs;
    &.loading {
      padding-top: 30px;
    }
  }
  &__reviews {
    &__title {
      padding: $val-spacing-xs;
      color: $col-title--big;
      font-size: $val-fontSizeBig;
      font-weight: $val-fontWeightBold;
    }
    &__content {
      padding: $val-spacing-xs;
      display: flex;
      flex-direction: column;
    }
    &__item {
      padding: $val-spacing-s;
      border: 1px solid white;
      font-size: $val-fontSizeRegular;
      &__title {
        font-size: $val-fontSizeNormal;
        padding-bottom: $val-spacing-xs;
      }
    }
  }
}
