@import 'styles/Colors.scss';
@import 'styles/Constants.scss';

.movie-list {
  display: flex;
  flex-direction: column;
  padding: $val-spacing-xs;
  &__title {
    padding: $val-spacing-xs;
    color: $col-title--big;
    font-size: $val-fontSizeXBig;
    font-weight: $val-fontWeightBold;
  }
  &.loading {
    padding-bottom: 50px;
  }
  &.small {
    .movie__list-item {
      width: 90%;
    }
  }

}

.rating-div {
  display: inline-flex;
}

.score-div{
  margin-left: 10px;
  margin-top: 2px;
}

.score-star-div{
  display: inline-flex;
}

.star-div{
  margin-left: 5px;
  .material-icons {
    color: $col-rating;
  }
}

.all-stars-div{
  display: inline-flex;
  margin-top: 1px;
}
