@import 'styles/Colors.scss';
@import 'styles/Constants.scss';

.movie-list {
  display: flex;
  flex-direction: column;
  padding: $val-spacing-xs;
  &__title {
    padding: $val-spacing-xs;
    color: $col-title--big;
    font-size: $val-fontSizeXBig;
    font-weight: $val-fontWeightBold;
  }
  &.loading {
    padding-bottom: 50px;
  }
  &.small {
    .movie__list-item {
      width: 90%;
    }
  }
}